@forward "./flex";
@forward "./text";
@forward "./alignmentPadding";
@use '../abstracts/abstracts' as *;
.display-none{
    display: none !important;
  }

.position-rel{
  position: relative;
}
.background-color-red{
  background-color: red;
}
.div-border-right{
  border-right: solid white 1px;
  margin-right: 10px;
  @include for-size(tablet-only){
    border-right: none;
  }
}
.hr-full-width{
  width: 100%;
}
