@use '../abstracts/abstracts' as *;
footer{
    background-color: $login-input-background;
    color: $textcolor;
    text-align: center;
    font-size: var(--fs-cal);
    position: relative;
    width: 100%;
    grid-area: 'footer';
    margin-top: 15px;
    a{
        text-decoration: none;
        color: $textcolor;
    }
}

.footer-info{
    background-color: $color5;
}