@use '../../abstracts/abstracts' as *;
.login-wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr); 
    background-color: $color4;
    width: 75%;
    height: 80%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $drop-shadow-wrappers;
    border-radius: $radius;
    padding: $box-padding;
    @include for-size(Desktop){
        max-width: 1000px;
    }
    @include for-size(small-phone){
        top: 40%;
        transform: translate(-50%, -40%);
        height: 100%;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: 3/2/3/6;
        width: 100%;
        @include for-size(large-phone-only){
            grid-area: 3/1/3/8;
        }
    }
    h1{
        color: $textcolor;
        font-size: var(--fs-header);
        padding-bottom: 1.5rem;
    }
    // button{
    //     box-shadow: $drop-shadow-wrappers;
    //     width: 95%;
    //     height: 2rem;
    //     margin: 2rem 0px;
    //     font-size: 1.5rem;
    //     background-color: $button-color;
    //     border-radius: $radius;
    //     border: none;
    //     color: $textcolor
    // }
    @include for-size(phone-only){
        width: 100%;
    }
}

.text-field{
    width: 95%;
    position: relative;
    height: 2.5rem;
    margin-bottom: 5%;
    input {
        background-color: $login-input-background !important;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 1.2rem;
        color: $textcolor;
        border-radius: $radius;
        padding: 5px;
    }
    label {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        pointer-events: none;
        border-bottom: 1px solid $textcolor;
        color: $textcolor;
        transform: all 0.3s ease;
        &:disabled{
          opacity: .5;
        }
        &:after {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          opacity: 0%;
          border-bottom: 3px solid $color6;
          left: 0px;
          bottom: -1;
          transform: translateX(-100%);
          transform: all 0.3s ease;
        }
        span {
            position: absolute;
            bottom: 0px;
            left: 4px;
          }
    }
    .error {
        z-index: 10;
        color: red;
        font-size: var(--fs-font);
    }
    @include for-size(phone-only) {
        width: 100%;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: $textcolor;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.exit-button {
  color: $textcolor;
  font-size: 2.5rem;
  grid-area: 1/7/1/7;
  &:hover {
    color: $color5;
  }
}

.text-field-lable{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid $textcolor;
    color: $textcolor;
    transform: all 0.3s ease;
    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-bottom: 3px solid $color6;
      left: 0px;
      bottom: -1;
      transform: translateX(-100%);
      transform: all 0.3s ease;
    }
}

.text-field-span{
    position: absolute;
    bottom: 0px;
    left: 4px;
}
.input-disabled{
    opacity: .5;
  }

.span-error {
    border: 1px solid red !important;
    color: red !important;
}
.hr-fullpage{
    width: 100%;
}
.account-reg{
    grid-area: 4/1/5/8;

}