@import "./flex";
@import "./text";
@import "./alignmentPadding";

.display-none{
    display: none !important;
  }

.position-rel{
  position: relative;
}
.background-color-red{
  background-color: red;
}
.div-border-right{
  border-right: solid white 1px;
}
.hr-full-width{
  width: 100%;
}
