p,
span,
a,
label,
select,
ul,
li,
ol {
  font-family: $Copy-Font;
  // line-height: 1.6;
  line-height: 24px;
}

h1,
h2,
h3,
h4 {
  font-family: $Header-Font;
}

.header-text{
    color: $textcolor;
    font-size: var(--fs-header);
}

.body-text{
    color:$textcolor;
    font-size: var(--fs-body);
}

.subheader-text{
    color: $textcolor;
    font-size: var(--fs-subheader);
  }

.text-align-center{
  text-align: center;
}