/* Start of font-faces */
@font-face {
    font-family: "Bebas Neue";
    src: url("../assets/fonts/bebas-neue-v9-latin/bebas-neue-v9-latin-regular.eot");
    src: local("Bebas Neue"),
      url("../assets/fonts/bebas-neue-v9-latin/bebas-neue-v9-latin-regular.woff2")
        format("woff2"),
      url("../assets/fonts/bebas-neue-v9-latin/bebas-neue-v9-latin-regular.woff")
        format("woff"),
      url("../assets/fonts/bebas-neue-v9-latin/bebas-neue-v9-latin-regular.ttf")
        format("truetype");
}

@font-face {
    font-family: "Comfortaa";
    src: url("../assets/fonts/Comfortaa/Comfortaa-Light.ttf");
    src: local("Comfortaa"),
      url("../assets/fonts/Comfortaa/Comfortaa-Light.ttf") format("truetype");
}
  
@font-face {
    font-family: "Varela_Round";
    src: url("../assets/fonts/Varela_Round/VarelaRound-Regular.ttf");
    src: local("Varela_Round"),
      url("../assets/fonts/Varela_Round/VarelaRound-Regular.ttf") format("truetype");
}
/* end of font-faces */