@mixin for-size($size) {
    @if $size == tablet-only {
      @media (max-width: 768px) {
        @content;
      }
    }
    @if $size == small-tablet-only {
      @media (max-width: 720px) {
        @content;
      }
    }
    @if $size == large-phone-only {
      @media (max-width: 535px) {
        @content;
      }
    }
    @if $size == phone-only {
      @media (max-width: 425px) {
        @content;
      }
    }
    @if $size == small-phone {
      @media (max-width: 320px) {
        @content;
      }
    }
    @if $size == small-desktop {
      @media (max-width: 1300px) {
        @content;
      }
    }
    @if $size == Desktop {
      @media (min-width: 1300px) {
        @content;
      }
    }
  }
  
  @mixin button-mixin {
    background-color: $button-color;
    border: none;
    border-radius: $radius;
    color: $textcolor;
    transition: all 0.2s ease-in;
    font-family: $Header-Font;
    &:active {
      transform: translateY(2px);
    }
    &:hover {
      background-color: $color2;
      border-bottom: #5cffc9;
    }
    &:disabled {
      opacity: 50%;
      pointer-events: none;
    }
  }
  @mixin phone-width-100 {
    @include for-size(tablet-only) {
      width: 100%;
    }
  }