/*CSS for any animations on the site */
.page-fade {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 11;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    animation: pagefade 0.45s ease-in;
}

.fade-in{
    animation: fadeIn 0.3s ease-in-out;
    // animation-delay: .1s;
}

.text-field input:focus + .text-field-lable .text-field-span, .text-field input:valid + .text-field-lable .text-field-span{
    translate: 0% -100%;
    font-size: .65rem;
    opacity: .2;
}
.text-field input:focus + .text-field-lable:after, .text-field input:valid + .text-field-lable:after{
    translate: 100%;
    opacity: 100%;
}

@keyframes fadeIn{
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes pagefade {
    0% {opacity: 0%;}
    100% {opacity: 100%;}    
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

/*end css for any ending animations */