.wrapper{
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
    align-self: center;
    grid-template-areas: 
    "nav"
    "content"
    "footer";
    max-width: 100%;
    width: 100%;
    position: relative;
    flex-grow: 1;
}
.wrapper-no-nav{
    display: flex;
    flex-grow: 1;
}
#root{
    display: flex;
    flex-direction: column;
    background: $backgroundgrad;
    animation: gradient 25s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    flex-grow: 1;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content-no-nav{
    display: flex;
    flex-grow: 1;
}
.flex-row-to-col {
    display: flex;
    flex-direction: row;
    @include for-size(tablet-only) {
      flex-direction: column;
    }
  }
  .flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-text{
    color: $textcolor;
    font-size: var(--fs-header);
  }
  .body-text{
    color:$textcolor;
    font-size: var(--fs-body);
  }
  .padding-bottom-1rem{
    padding-bottom: 1rem;
  }
/* CSS for Spinner animation */
.loading{
    background-image: url('../assets/images/loading-background.svg');
    background-position: center;
    opacity: 1;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.spinner{
    width: 150px;
    height: 150px;
    border: 8px solid;
    border-color: transparent;
    border-radius: 50%;
    animation: spin-anim 1.5s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    40% {
        border-color: transparent #5CFFC9 transparent transparent;
    }

    100% {
        transform: rotate(360deg);
    }
}
/* End of CSS for Spinner animation */

