.account-setup-wrapper{
    background-color: $color4;
    max-width: 1400px;
    padding: 40px;
    box-shadow: $drop-shadow-wrappers;
    border-radius: $radius;
    h1{
        padding: 10px;
    }
    p{
        padding-bottom: 1rem;
    }
}