@import "./abstracts/abstracts";
@import "./base/base";
@import "./common/common";
// @import "./animations/animations";
@import "./vendors/vendors";
@import "./components/components";
@import "./mainLayout/mainLayout";
@import "./userInputs/userInputs";
@import "./pages/pages";
@import "./animations/animations";
*{
  color:$textcolor;
}

.message {
  text-align: center;
  color: $textcolor;
  font-size: var(--fs-subheader);
}
.welcome-text {
  color: $textcolor;
  font-size: var(--fs-welcome);
  padding-bottom: 1.5rem;
  max-width: 2100px;
  width: 100%;
  margin: 0 auto;
}
.page-fade {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 11;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  animation: pagefade 0.2s ease-in;
  // @include for-size()
}
.warning-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: $box-padding;
  top: 50%;
  left: 50%;
  background-color: $color4;
  transform: translate(-50%, -50%);
  width: 50%;
  border-radius: $radius;
  color: $textcolor;
  align-items: center;
  z-index: 1;
  @include for-size(tablet-only) {
    width: 95%;
  }
  h1 {
    font-size: var(--fs-body);
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: auto;
  }
  .button {
    box-shadow: $drop-shadow-wrappers;
    width: 25%;
    margin: 1rem;
    border-radius: $radius;
    height: auto;
    background-color: $button-color;
    color: $textcolor;
    font-family: $Header-Font;
    font-size: 1.1rem;
    padding: 5px 8px;
  }
  .text-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: $color5;
  }
}



@import "./components/components";

