.hero{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    height: 60vh;
}
.hero-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    @include for-size(tablet-only){
        flex-direction: column-reverse;
    }
}
.call-to-action{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color5;
    padding: $box-padding;
    h1{
        font-size: var(--fs-hero);
        text-align: center;
    }
    p{
        font-size: var(--fs-body);
    }
    @include for-size(tablet-only){
        width: 100%;
    }
    h1, h2, p{
        text-shadow: $drop-shadow-wrappers;
        color: $color2;
    }
}
.cta-statement, .cta-new-account{
    width: 75%;
}
.cta-new-account{
    text-align: center;
    h2{
        font-size: var(--fs-hero);
    }
}
.cta-button{
    width: 40%;
    height: 4rem;
    font-size: var(--fs-hero-button);
    @include for-size(large-phone-only){
        height: 2.5rem;
        width: 60%;
    }
}
.hero-img{
    flex: 1;
    background:
        linear-gradient(to left, transparent 20%, $color5 80%),
        url('../assets/images/hero-test.webp') no-repeat right center;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    @include for-size(small-desktop){
    background:
        linear-gradient(to left, transparent 40%, $color5 80%),
        url('../assets/images/hero-test.webp') no-repeat right center;
    background-size: cover;
    }
    @include for-size(tablet-only){
        background: url('../assets/images/hero-test.webp') no-repeat right center;
        background-size: cover;
        height: 50%;
    }
}
